@model ClinicManagement.Core.ViewModel.UserViewModel
@{
}
<link href="~/Content/gridDoctor.css" rel="stylesheet" />
<form class="form-horizontal form-label-left">
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    <span class="section">Create New User</span>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(o => o.Username)</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextBoxFor(o => o.Username)
                            @Html.ValidationMessageFor(m => m.Username, string.Empty, new { @class = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(o => o.Email)</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextBoxFor(o => o.Email)
                            @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Html.LabelFor(o => o.Role)</label>
                        @foreach (var item in Model.RolesList)
                        {
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.CheckBoxFor(o => item.Selected, new { id = item.Text.Trim() })
                                <label>@item.Text</label>
                            </div>
                        }
                    </div>
                    <div>
                        <input type="button" onclick="addNewUser()" role="button" value="Add User" class="btn btn-primary" style="float:right" />
                    </div>

                </div>
            </div>

        </div>
    </div>
</form>
<script>
    function addNewUser() {
        var username = $("#Username").val();
        var email = $("#Email").val();
        var isAdmin = ($("#Administrator")[0].value === "true");
        var isDoctor = ($("#Doctor")[0].value === "true");

        const data = {
            Username: username,
            Email: email,
            isAdmin: isAdmin,
            isDoctor: isDoctor
        };
        const url = window.location.origin + "/User/Create";
        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: JSON.stringify(data),
            contentType: 'application/json'
        }).done(data => {
            window.location = portal.baseUrl + '/QuoteList/Download?name=' + data.FileName;
        })
            .fail((jqXhr, textStatus, errorThrown) => {
                console.log("ERROR: ", JSON.stringify(jqXhr));
            })
            .always(() => {
            });
    }
</script>



